* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

body {
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

footer {
  height: 600px;
}

header {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: gray;
  box-shadow: 0 0 5px gray;
}

.nombre {
  color: antiquewhite;
  text-shadow: 0 0 5px #333;
}

header ul {
  display: flex;
  gap: 10px;
}

header li {
  font-size: 18px;
  color: #f1f1f1;
  text-shadow: 0 0 5px #333;
  border: 1px solid gray;
  padding: 5px 10px;
  border-radius: 8px;
  cursor: pointer;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -ms-border-radius: 8px;
  -o-border-radius: 8px;
}

header li:hover {
  /* background-color: aquamarine; */
  box-shadow: 0 0 20px aquamarine;
}

.navbar-old {
  display: none;
}

/* .navbar button {
  color: antiquewhite; 
  background-color: transparent;
} */

h2 {
  font-size: 40px;
}

.contenedor {
  width: 100%;
  display: flex;
  flex-direction: column;
}

#contador {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /*display: none;  */
}

#contador h3 {
  font-size: 40px;
  margin-top: 15px;
}

.contador-botones {
  display: flex;
  justify-content: center;
  gap: 20px;
  margin-top: 20px;
}

.contador-boton {
  border: 1px solid black;
  padding: 5px 10px;
  border-radius: 5px;
  cursor: pointer;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}

#tateti {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
  /* display: none; */
}

.tateti-btnCtrl {
  display: flex;
}

#tateti-reset {
  font-size: 25px;
  padding: 10px;
  border: 1px solid black;
  border-radius: 10px;
  margin: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tateti-juega {
  font-size: 25px;
  padding: 10px;
  border-radius: 10px;
  margin: 10px;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

.tablero {
  width: 400px;
  height: 400px;
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 2px;
}

.fila {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.celda {
  width: 130px;
  height: 130px;
  background-color: cyan;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 120px;
  border-radius: 10px;
  cursor: pointer;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
}

#mensaje {
  font-size: 30px;
}

#section-ppt {
  display: flex;
  flex-direction: column;
  width: 100%;
  justify-content: center;
  align-items: center;
  margin-top: 60px;
}

.ppt-botones {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 50px;
  gap: 10px;
}

.ppt {
  width: 100px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  background: blue;
  box-shadow: 0 0 5px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  cursor: pointer;
}

.ppt-result {
  width: 320px;
  height: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-radius: 10px;
  background: rgb(0, 59, 0);
  box-shadow: 0 0 5px black;
  -webkit-border-radius: 10px;
  -moz-border-radius: 10px;
  -ms-border-radius: 10px;
  -o-border-radius: 10px;
  margin-top: 10px;
  border: 1px solid gray;
}

.ppt-botones img,
.ppt-result img {
  width: 70px;
}

#clima {
  width: 100%;
  text-align: center;
  margin-top: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.clima-container {
  background-color: #f1f1f1;
  width: 400px;
  height: 400px;
  margin-top: 30px;
  padding: 20px;
  border-radius: 16px;
  -webkit-border-radius: 16px;
  -moz-border-radius: 16px;
  -ms-border-radius: 16px;
  -o-border-radius: 16px;
  box-shadow: 0 2px 10px -6px black;
}

.temp {
  font-size: 82px;
}
